<div id="parlante-comments">
  <h2>{{.header}}</h2>

  {{range .comments}}
  <div class="parlante-comment">
    <div class="parlante-comment-header">
      <span class="parlante-comment-author">{{.Author}}</span>
      <span class="parlante-comment-date"> – {{fmtTimestap .Timestamp}}</span>
    </div>
    <div class="parlante-comment-content">{{.Content}}</div>
  </div>
  {{else}}
  <p>{{.noComments}}</p>
  {{end}}
</div>

<div id="parlante-add-comment">
  <label for="parlante-author">{{.nameLabel}}</label><br/>
  <input type="text" id="parlante-author" required><br/><br/>

  <label for="parlante-content">{{.commentLabel}}</label><br/>
  <textarea id="parlante-content" required></textarea><br/><br/>
  <button id="parlante-submit">{{.submitComment}}</button>
</div>

<div id="parlante-add-ok" style="display:none">
  {{.commentAddOkMsg}}
</div>

<div id="parlante-add-error" style="display:none">
  {{.commentAddErrorMsg}}
</div>
